* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background: linear-gradient(45deg, silver 25%, transparent 25%, transparent 75%, silver 75%, silver 0), linear-gradient(45deg, silver 25%, transparent 25%, transparent 75%, silver 75%, silver 0);
  background-size: 16px 16px;
  background-position: 0 0, 8px 8px;
}
a:link, 
a:visited, 
a:hover, 
a:active {
  color:#0bc;
}
.c-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.c-user-action {
  width: 30%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background: #333;
  box-shadow: 10px 0 5px 0 rgba(0, 0, 0, .5);
  color:#fff;
}
.c-user-guide {
  flex:1;
  text-shadow: -1px -1px #333;
}
.c-user-guide ul {
  list-style-type: square;
  margin-left:2rem;
  margin-top:1rem;
}
.c-user-guide p {
  margin:1rem 0;
  line-height: 1.2;
}
.c-input-color {
  flex: 0.5;
  padding: 0.5rem;
  font-size: 1.2rem;
  background: #333;
  border: 4px solid #222;
  line-height: 1.5;
  text-shadow: -1px -1px #000;
  font-family: inconsolata, "source code pro", "source sans pro", consolas, monospace;
}

.c-btn-show {
  padding: 0.3rem 1rem;
  font-size: 1.8rem;
  border-radius: 10rem; /* browsers calcualte the radius */
  margin-top: 1rem;
  background: linear-gradient(#555, #333);
  text-shadow: -1px -1px #333;
  border: 4px solid #222;
}
button, textarea{
  font-family: inherit;
  color:inherit;
}
.c-btn-show:active {
  background: linear-gradient(#333, #555);
}

.c-colors-list {
  width: 70%;
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
  max-height: 100%;
}

.c-colors-list li {
  width: 20vh;
  height: 20vh;
  background: currentColor;
  border-radius: 0.66rem;
  text-align: center;
  padding: .5rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
  transform-origin: left top;
  transition-timing-function: cubic-bezier(.58, .6, 0, 1.5);
  font-family: inconsolata, "source code pro", "source sans pro", consolas, monospace;
}

.c-colors-list li span {
  font-size: 1.25rem;
  filter: invert(100%) contrast(999) grayscale(100%);
}

.c-colors-list li:hover {
  z-index: 2;
  transform: rotate(10deg);
  box-shadow: 0.5rem 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}